#name-container {
    padding-top: 2ch;
    display: flex;
    justify-content: center;
    margin-top: 2em;

}


#name {
    font-family: "Dancing Script",cursive;
    font-size:7rem;
    padding-top:0ch;
    text-align: center;
    color:rgb(226, 6, 6);
    border-radius: 10%;

}

h2{
    font-weight:bold;
    font-size: 3em;
    font-family: fantasy;
    color:rgb(226, 6, 6);
   

 }

body {
    height: 100vh;
    background-color: rgba(133, 136, 132, 0.945);
    font-weight:bold;
    font-size:large;
    font-family: monospace;
    padding-left: 1em;
    color:rgb(226, 6, 6);
    width: 100%;
    margin: 0 auto;
    text-align: center;


    


}

#navigation {
    position:fixed;
    top:0;
    opacity:100%;
    width:100%;
    background-color: rgba(133, 136, 132, 0.945);
    
}
#navigation ul {
    display: flex;
    justify-content: center;
    gap: 4em;
    list-style: none;
    padding-bottom: 0;
}

#about, #experience, #skills, #projects, #connect {
    scroll-margin-top: 3em;
}

.column {
    display: flex;
    flex-direction:row;
    font-size:0.9em;
    color: gray;
    list-style: none;
    padding: 1em;
    column-gap: 5em;
}
.column {
    width:30%;
    height:10%;
    border-style: double;
    border-radius: 5%;
    margin: 0 auto;
    padding-left: 1em;
    background-color: red;
    

}


